---

---

<nav class="text-lg px-8 py-2">
	<ul class="flex w-full justify-end items-end gap-4">
		<li class="border-b-2 hover:border-neutral-100 border-transparent">
			<a href="{{ site.baseurl }}/about.html">About</a>
		</li>
		<li class="border-b-2 hover:border-neutral-100 border-transparent">
			<a href="{{ site.baseurl }}/projects.html">Projects</a>
		</li>
		<li class="border-b-2 hover:border-neutral-100 border-transparent">
			<a href="{{ site.baseurl }}/contact.html">Contact</a>
		</li>
	</ul>
</nav>
